*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 100vw;
}

/* container  */

.container{
    margin: 4rem auto;
    text-align: center;
}

.heading{
    color: blueviolet;
}

.description{
    font-size: 1.2rem;
    margin: 1rem;
}

label{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
}

input{
    font-size: 1rem;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid blueviolet;
    border-radius: 0.5rem;
    outline: white;
    width: 100%;
    max-width: 250px;
}
#check{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: 1px solid blueviolet;
}
#check:hover{
    cursor: pointer;
}

/* table  */

.change-table{
    width: 50%;
    margin: auto;
    text-align: justify;
    border-collapse: collapse;
}

.change-table caption{
    margin: 1rem auto;
    font-size: 1.2rem;
    font-weight: bold;
}

th,td{
    border: 2px solid blueviolet;
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
}